<p>naadmin works!</p>
<!-- <router-outlet></router-outlet> -->
<div class="container-fluid" *ngIf="isbuttonclick">
    <header>
        <div>
            <span class="brand bi bi-cart4">Shopstore</span>
        </div>
        <div class="navmenu">
            <a routerLink="form-primeng" >Form</a>
            <a routerLink="margin-calc" >Margin</a>
            <a routerLink="homepage" >Home</a>
            <a routerLink="catalog">Catalog</a>
            <a routerLink="shop" >Shop</a>
            <a routerLink="kids" >Electronic</a>
            <a routerLink="mens" >Mens</a>
            <a routerLink="women">Women</a>

        </div>
        <div class="navicon">
            <a routerLink="search"><span class="bi bi-search"></span></a>
            <a routerLink="favorite-list"><span class="bi bi-heart"></span></a>
            
           <a routerLink="loginpage" (click)="onloginclick()"> <span class="bi bi-person"></span></a>
           <a routerLink="/loginpage" (click)="onlogoutclick()" ><span class="bi bi-box-arrow-right"></span></a>
           <!-- <a routerLink="cart"> <span class="bi bi-cart"></span></a> -->
        </div>
    </header>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
