<p>admin works!</p>
<h2>Admin</h2>
<div class="container-fluid">
    <header>
        <div>
            <span class="brand bi bi-cart4">Shopstore</span>
        </div>
        <div class="navmenu">
            <a routerLink="admin">Admin</a>
            <a routerLink="user">User</a>
            <a routerLink="homepage" routerLink="/homepage">Home</a>
            <a routerLink="catalog" routerLink="/catalog">Catalog</a>
            <a routerLink="shop" routerLink="/shop">Shop</a>
            <a routerLink="kids" routerLink="/kids">Electronic</a>
            <a routerLink="mens" routerLink="/mens">Mens</a>
            <a routerLink="women" routerLink="/women">Women</a>

        </div>
        <div class="navicon">
            <a routerLink="search"><span class="bi bi-search"></span></a>
            <a routerLink="admin"><span class="bi bi-heart"></span></a>
            
           <a routerLink="loginpage" > <span class="bi bi-person"></span></a>
           <a routerLink="cart"> <span class="bi bi-cart"></span></a>
        </div>
    </header>
    <div>
        <router-outlet></router-outlet>
    </div>
    <app-search></app-search>

</div>
